.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  margin: 1rem;
  width: 20rem;
  max-width: 95%;
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1 {
  margin: 0;
  font-size: 1.2rem;
  color: #1f1f1f;
}

.card__image {
  width: 100%;
  height: 15rem;
  text-align: center;
}

.card__image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.card__content h2 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.product__description {
  text-align: center;
}

.product__price {
  text-align: center;
  color: #444;
  margin-bottom: 0.5rem;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}
