.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
  padding: 0.1rem 0.25rem;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background-color: #f7f7f7;
  border-color: #00695c;
}
